<h2 mat-dialog-title>Download the item</h2>

<mat-dialog-content>
  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>{{data.video_title}}</mat-card-title>
      <mat-card-subtitle>{{data.video_id}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{data.img_url}}>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close="">Close</button>
</mat-dialog-actions>
