<!--
<h2 mat-dialog-title>Download the item</h2>
-->

<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>

<mat-dialog-content>
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

    <div fxFlex="50%">
      <mat-card class="mat-elevation-z0">
        <img mat-card-image src={{data.img_url}}>
      </mat-card>
    </div>

    <div fxFlex="50%">
      <mat-card class="mat-elevation-z0">
        <mat-card-header>
          <span class="card-title-text">{{data.video_title}}</span>
          <input type="text" #video_id ng-model="video_id" value="{{data.video_id}}" style="display: none;"/>
          <mat-card-subtitle>{{video_duration}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <mat-spinner *ngIf="spinner_visible"></mat-spinner>

          <mat-radio-group class="example-radio-group" fxLayout="row wrap" (change)="onChange($event)">
            <mat-radio-button class="example-radio-button"
                              *ngFor="let video_format of video_formats"
                              [checked]="video_format === video_formats[0]"
                              [value]="video_format.format_uuid">
              {{video_format.format_extension}} {{video_format.format_quality}}
            </mat-radio-button>
          </mat-radio-group>
        </mat-card-content>

        <mat-card-footer fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
          <button mat-raised-button *ngIf="video_formats.length > 0" (click)="onDownloadClicked()">
            <mat-icon>cloud_download</mat-icon>
            Download
          </button>
        </mat-card-footer>

        <mat-progress-bar *ngIf="downloadProgress$ | async as download"
                          [mode]="download.state == 'PENDING' ? 'buffer' : 'determinate'"
                          [value]="download.progress">
        </mat-progress-bar>
      </mat-card>
    </div>

  </div>
</mat-dialog-content>
