<div class="example-container">
  <div class="example-container">
    <form (ngSubmit)="onConvert(youtube_link.value)">
      <mat-form-field class="search-form" appearance="outline">
        <mat-label>Youtube download</mat-label>
        <input matInput #youtube_link [formControl]="linkFormControl" placeholder="https://www.youtube.com/bla..."
               type="text">
        <mat-error *ngIf="!linkFormControl.hasError('required')">
          Please enter a valid youtube link
        </mat-error>
      </mat-form-field>

      <button button="submit" mat-raised-button color="primary">Search</button>
    </form>
  </div>

  <mat-toolbar color="primary"> Search results</mat-toolbar>

  <!-- below is the search result -->
  <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let search_result of search_result_list">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title class="text-oneline">{{search_result.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{search_result.thumbnail_url}}>
        <mat-card-actions>
          <button mat-button>Download this one</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

</div>
