.example-container .mat-form-field + .mat-form-field {
  margin: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

/**/
.img {
  width: 100%;
  margin-bottom: 20%;
}

.container {
  min-height: 100%;
  width: 100%;
}

.card-picture {
  width: 23%;
  margin-bottom: 2%;
}

.search-form {
  margin: 1% 1% 1% 1%;
  width: 70%;
}

.search-button {
  margin: 1% 1% 1% 1%;
  width: 8%;
}

.progress-bar {
  margin: 1% 1% 1% 1%;
  width: 80%;
}

.title-bar {
  margin: 1% 1% 1% 1%;
  width: 80%;
}

.example-card {
  max-width: 200px;
}

.content {
  padding: 8px;
  margin: 1% 1% 1% 1%;
  width: 80%;
}

.content > mat-card {
  width: 200px;
}

.card-title-text {
  /*font-weight: bold;*/
  font-size: 140%;
  max-height: 4.8em;
  line-height: 1.6em;

  display: block; /* or inline-block */
  text-overflow: ellipsis;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

