.example-container .mat-form-field + .mat-form-field {
  margin: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

/**/
.img {
  width: 100%;
  margin-bottom: 18%;
}

.container {
  min-height: 100%;
  width: 100%;
}

.card-picture {
  width: 23%;
  margin-bottom: 2%;
}

.search-form {
  margin: 2% 1% 2% 4%;
  width: 80%;
}

.progress-bar {
  margin: 1% 1% 1% 1%;
  width: 90%;
}

.title-bar {
  margin: 1% 1% 1% 1%;
  width: 90%;
}

.example-card {
  max-width: 200px;
  /*margin: 2% 1% 2% 4%;*/
}

.content {
  padding: 8px;
  margin: 1% 1% 1% 1%;
  width: 90%;
}

.content > mat-card {
  width: 200px;
}
